# Etapa 2: Extração e transformação para alcançar a massa de dados com indicadores relevantes no período de tempo entre 2010 a 2016 do dataset "EdStatsData.csv".

## 1. Importando libs

In [1]:
!pip3 install pandas
!pip3 install numpy

Requirement already satisfied: pandas in /home/joca/.local/lib/python3.8/site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /home/joca/.local/lib/python3.8/site-packages (from pandas) (1.19.0)
Requirement already satisfied: numpy in /home/joca/.local/lib/python3.8/site-packages (1.19.0)

In [2]:
import pandas as pd
import numpy as np
import zipfile

## 2. Carregando o dataframe com os dados de todos os países e da faixa temporal.

In [3]:
zf = zipfile.ZipFile('../data/Edstats_csv.zip')
text_files = zf.infolist()
df_todos_paises = pd.DataFrame()
for csv_file in text_files:        
    if csv_file.filename == 'EdStatsData.csv':
        print("Abrindo o arquivo",csv_file.filename)
        df_todos_paises = pd.read_csv(zf.open(csv_file.filename))
        break

if df_todos_paises.empty:
    exit("Erro ao ler o arquivo 'EdStatsData.csv' que fica dentro do 'Edstats_csv.zip' na pasta 'data'.")
else:
    print("Arquivo 'EdStatsData.csv' carregado com sucesso.")

Abrindo o arquivo EdStatsData.csv
Arquivo 'EdStatsData.csv' carregado com sucesso.

## 3. Organizando nome de países definidos em "lista_suja_paises".

In [4]:
df_lista_suja_paises = pd.read_csv('../data/lista_suja_paises.csv', sep = ';')

df_lista_paises = df_lista_suja_paises.drop_duplicates()

df_lista_paises.index = range(df_lista_paises.shape[0])

df_lista_paises.to_csv('../data/lista_paises_aids.csv', index = False)

df_lista_paises.head()

     Country Name
0     Afghanistan
1         Albania
2         Algeria
3  American Samoa
4         Andorra

## 4. Extraindo e transformando dados referentes aos países definidos para "massa_bruta_pais_por_indicadores.csv".

### Retira a última coluna do dataset "EdStatsData.csv" para manter apenas os dados úteis.

In [5]:
df_todos_paises_lista_colunas = df_todos_paises.columns.tolist()

ultima_coluna_lixo_massa = df_todos_paises_lista_colunas[len(df_todos_paises_lista_colunas)-1]

df_todos_paises = df_todos_paises.drop([ultima_coluna_lixo_massa], axis=1)

df_todos_paises.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Seleciona apenas os registros dos países presentes em "lista_paises_aids.csv".

In [6]:
df_paises_filtrados = df_todos_paises.loc[df_todos_paises['Country Name'].isin(df_lista_paises['Country Name'])]

df_paises_filtrados.index = range(df_paises_filtrados.shape[0])

df_paises_filtrados.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,7.05911,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,2.53138,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,0.22154,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,11.42652,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Escolhe os registros dos indicadores relevantes definidos em "codigos_indicadores_relevantes_aids.csv".

In [7]:
df_lista_indicadores = pd.read_csv('../data/codigos_indicadores_relevantes_aids.csv')

df_paises_filtrados = df_paises_filtrados.loc[df_paises_filtrados['Indicator Code'].isin(df_lista_indicadores['Indicator Code'])]

df_paises_filtrados.index = range(df_paises_filtrados.shape[0])

df_paises_filtrados.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Afghanistan,AFG,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP at market prices (current US$),NY.GDP.MKTP.CD,1.748887e+09,1.831109e+09,1.595555e+09,1.733333e+09,2.155555e+09,2.366667e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Government expenditure on education as % of GD...,SE.XPD.TOTL.GD.ZS,NaN,1.160360e+00,1.117180e+00,1.427880e+00,NaN,1.303320e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,"Illiterate population, 25-64 years, both sexes...",UIS.ILLPOP.AG25T64,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Recupera os anos a serem utilizados para selecionar a faixa temporal da massa final.

In [8]:
df_lista_anos = pd.read_csv('../data/lista_anos_aids.csv')

menor_ano = df_lista_anos.min()
print(menor_ano)

maior_ano = df_lista_anos.max()
print(maior_ano)

Year    2010
dtype: int64
Year    2016
dtype: int64

### Aplica as restrições selecionadas anteriormente no dataset original e gera um conjunto de dados derivado para ser exportado em "massa_bruta_pais_por_indicadores_aids.csv".

In [9]:
for c in df_paises_filtrados.columns:
    if(df_paises_filtrados[c].dtype == np.float64):
        coluna_numerica = pd.to_numeric(df_paises_filtrados[c].name, errors='coerce')
        
        if(coluna_numerica < menor_ano[0] or coluna_numerica > maior_ano[0]):            
            del df_paises_filtrados[str(coluna_numerica)]

df_paises_filtrados.index = range(df_paises_filtrados.shape[0])

del df_paises_filtrados['Country Code']
del df_paises_filtrados['Indicator Name']

df_paises_filtrados = df_paises_filtrados.fillna(0)

df_paises_filtrados = df_paises_filtrados.round({'2010':2, '2011':2, '2012':2, '2013':2, '2014':2, '2015':2, '2016':2})

df_paises_filtrados.to_csv('../data/massa_bruta_pais_por_indicadores_aids.csv', index = False)

df_paises_filtrados.head()

,Country Name,Indicator Code,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,SE.PRM.TENR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,Afghanistan,NY.GDP.MKTP.CD,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.921556e+10,1.946902e+10
2,Afghanistan,SE.XPD.TOTL.GD.ZS,3.460000e+00,3.440000e+00,2.530000e+00,3.480000e+00,3.780000e+00,3.320000e+00,0.000000e+00
3,Afghanistan,UIS.ILLPOP.AG25T64,0.000000e+00,6.844552e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,Afghanistan,IT.NET.USER.P2,4.000000e+00,5.000000e+00,5.450000e+00,5.900000e+00,7.000000e+00,8.260000e+00,1.060000e+01