# Etapa 3: Extração e transformação para alcançar a massa de dados com indicadores relevantes no período de tempo entre 2010 a 2016 do dataset "Epidemic transition metrics_Trend of new HIV infections.csv".

## 1. Importando libs

In [1]:
!pip3 install pandas
!pip3 install numpy

Requirement already satisfied: pandas in /home/joca/.local/lib/python3.8/site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: numpy>=1.13.3 in /home/joca/.local/lib/python3.8/site-packages (from pandas) (1.19.0)
Requirement already satisfied: numpy in /home/joca/.local/lib/python3.8/site-packages (1.19.0)

In [2]:
import pandas as pd
import numpy as np

## 2. Carregando o dataframe com os dados de todos os países e da faixa temporal.

In [3]:
df_aids_todos_paises = pd.read_csv('../data/Epidemic transition metrics_Trend of new HIV infections.csv')

if df_aids_todos_paises.empty:
    exit("Erro ao ler o arquivo 'df_aids_todos_paises.csv' na pasta 'data'.")
else:
    print("Arquivo 'df_aids_todos_paises.csv' carregado com sucesso.")

Arquivo 'df_aids_todos_paises.csv' carregado com sucesso.

## 3. Carregando os países definidos em "lista_paises_aids.csv".

In [4]:
df_lista_paises = pd.read_csv('../data/lista_paises_aids.csv')

df_lista_paises.head()

     Country Name
0     Afghanistan
1         Albania
2         Algeria
3  American Samoa
4         Andorra

## 4. Extraindo e transformando dados referentes aos países previamente definidos para "massa_bruta_aids.csv".

#### Seleciona apenas os registros dos países presentes em "lista_paises_aids.csv".

In [24]:
df_paises_filtrados = df_aids_todos_paises.loc[df_aids_todos_paises['Country'].isin(df_lista_paises['Country Name'])]

df_paises_filtrados.head(10)

,Country,2010,2010_lower,2010_upper,2011,2011_lower,2011_upper,2012,2012_lower,2012_upper,...,2017,2017_lower,2017_upper,2018,2018_lower,2018_upper,2019,2019_lower,2019_upper,2019.1
0,Afghanistan,<1000,<500,1800,<1000,<500,2000,<1000,<500,2300,...,1300,<500,4800,1400,<500,5100,1500,<500,5500,116
1,Albania,<200,<100,<200,<200,<100,<200,<200,<100,<500,...,<100,<100,<500,<100,<100,<500,<100,<100,<500,-23
2,Algeria,1200,<1000,1700,1300,<1000,1900,1400,<1000,2100,...,1900,<1000,3300,2000,<500,3600,2100,<500,4100,83
3,Angola,26 000,21 000,31 000,27 000,22 000,32 000,27 000,22 000,32 000,...,27 000,20 000,34 000,27 000,19 000,35 000,26 000,18 000,34 000,-2
4,Argentina,5700,4600,7500,6000,4700,7900,6100,4800,7900,...,6100,4400,8200,5700,4100,8100,5900,4300,8500,3
5,Armenia,<500,<200,<500,<500,<200,<500,<200,<200,<500,...,<200,<200,<500,<200,<200,<500,<200,<100,<500,-30
6,Australia,1000,<1000,1400,1000,<1000,1400,1000,<1000,1500,...,<1000,<1000,1500,<1000,<500,1500,<1000,<500,1400,-18
7,Austria,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,Azerbaijan,<1000,<1000,1100,<1000,<1000,1100,<1000,<500,1000,...,<1000,<500,<1000,<1000,<500,<1000,<1000,<500,<1000,-25
10,Bahrain,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

#### Recupera os anos a serem utilizados para selecionar a faixa temporal da massa final.

In [6]:
df_lista_anos = pd.read_csv('../data/lista_anos_aids.csv')

lista_anos = df_lista_anos['Year'].tolist()

lista_anos

[2010, 2011, 2012, 2013, 2014, 2015, 2016]

#### Aplica as restrições de anos no dataset original e gera um dataframe com apenas as colunas de 2010 a 2016 e o nome do país.

In [7]:
nomes_colunas_paises_filtrados = list(df_paises_filtrados.columns.values)

valores = {}
for nome_coluna, linha in df_paises_filtrados.items():

    if(nome_coluna == 'Country'):
        valores[nome_coluna] = linha
        continue
        
    valores_linha = []
    for index, item in linha.items():

        valor = item.strip(' ')
        if(valor.isdigit() == False):
            if ('<' in valor):
                valor = valor.strip('<')
                valor = int(valor) - 1

            elif('>' in valor):
                valor = valor.strip('>')
                valor = int(valor) + 1

            elif('...' in valor):
                valor = 0

            else:
                valor = valor.replace(' ', '')

        valores_linha.append(valor)
    valores[nome_coluna] = valores_linha

df_resultado_conversao_valores = pd.DataFrame(valores)

df_resultado_conversao_valores.head()

,Country,2010,2010_lower,2010_upper,2011,2011_lower,2011_upper,2012,2012_lower,2012_upper,...,2017,2017_lower,2017_upper,2018,2018_lower,2018_upper,2019,2019_lower,2019_upper,2019.1
0,Afghanistan,999,499,1800,999,499,2000,999,499,2300,...,1300,499,4800,1400,499,5100,1500,499,5500,116
1,Albania,199,99,199,199,99,199,199,99,499,...,99,99,499,99,99,499,99,99,499,-23
2,Algeria,1200,999,1700,1300,999,1900,1400,999,2100,...,1900,999,3300,2000,499,3600,2100,499,4100,83
3,Angola,26000,21000,31000,27000,22000,32000,27000,22000,32000,...,27000,20000,34000,27000,19000,35000,26000,18000,34000,-2
4,Argentina,5700,4600,7500,6000,4700,7900,6100,4800,7900,...,6100,4400,8200,5700,4100,8100,5900,4300,8500,3

#### Seleciona as colunas dentro do intervalo definido em "df_lista_anos". As colunas escolhidas terão o ano no seu conteúdo, por exemplo: "2010", "2010_lower" e "2010_upper" referenciam 2010. Logo, seus valores serão convertidos para número e somados para formar uma coluna única, como, por exemplo: "2010".

In [8]:
df_resultado_transformacao = pd.DataFrame()

df_resultado_transformacao['Country'] = df_resultado_conversao_valores['Country']

df_soma_2010 = pd.DataFrame()
df_soma_2010['2010'] = df_resultado_conversao_valores['2010']
df_soma_2010['2010_lower'] = df_resultado_conversao_valores['2010_lower']
df_soma_2010['2010_upper'] = df_resultado_conversao_valores[' 2010_upper']
df_soma_2010 = df_soma_2010.apply(pd.to_numeric, errors='coerce')
df_resultado_transformacao['2010'] = df_soma_2010.sum(axis=1)

df_soma_2011 = pd.DataFrame()
df_soma_2011['2011'] = df_resultado_conversao_valores[' 2011']
df_soma_2011['2011_lower'] = df_resultado_conversao_valores['2011_lower']
df_soma_2011['2011_upper'] = df_resultado_conversao_valores[' 2011_upper']
df_soma_2011 = df_soma_2011.apply(pd.to_numeric, errors='coerce')
df_resultado_transformacao['2011'] = df_soma_2011.sum(axis=1)

df_soma_2012 = pd.DataFrame()
df_soma_2012['2012'] = df_resultado_conversao_valores[' 2012']
df_soma_2012['2012_lower'] = df_resultado_conversao_valores['2012_lower']
df_soma_2012['2012_upper'] = df_resultado_conversao_valores[' 2012_upper']
df_soma_2012 = df_soma_2012.apply(pd.to_numeric, errors='coerce')
df_resultado_transformacao['2012'] = df_soma_2012.sum(axis=1)

df_soma_2013 = pd.DataFrame()
df_soma_2013['2013'] = df_resultado_conversao_valores[' 2013']
df_soma_2013['2013_lower'] = df_resultado_conversao_valores['2013_lower']
df_soma_2013['2013_upper'] = df_resultado_conversao_valores[' 2013_upper']
df_soma_2013 = df_soma_2013.apply(pd.to_numeric, errors='coerce')
df_resultado_transformacao['2013'] = df_soma_2013.sum(axis=1)

df_soma_2014 = pd.DataFrame()
df_soma_2014['2014'] = df_resultado_conversao_valores[' 2014']
df_soma_2014['2014_lower'] = df_resultado_conversao_valores['2014_lower']
df_soma_2014['2014_upper'] = df_resultado_conversao_valores[' 2014_upper']
df_soma_2014 = df_soma_2014.apply(pd.to_numeric, errors='coerce')
df_resultado_transformacao['2014'] = df_soma_2014.sum(axis=1)

df_soma_2015 = pd.DataFrame()
df_soma_2015['2015'] = df_resultado_conversao_valores[' 2015']
df_soma_2015['2015_lower'] = df_resultado_conversao_valores['2015_lower']
df_soma_2015['2015_upper'] = df_resultado_conversao_valores[' 2015_upper']
df_soma_2015 = df_soma_2015.apply(pd.to_numeric, errors='coerce')
df_resultado_transformacao['2015'] = df_soma_2015.sum(axis=1)

df_soma_2016 = pd.DataFrame()
df_soma_2016['2016'] = df_resultado_conversao_valores[' 2016']
df_soma_2016['2016_lower'] = df_resultado_conversao_valores['2016_lower']
df_soma_2016['2016_upper'] = df_resultado_conversao_valores[' 2016_upper']
df_soma_2016 = df_soma_2016.apply(pd.to_numeric, errors='coerce')
df_resultado_transformacao['2016'] = df_soma_2016.sum(axis=1)

df_resultado_transformacao.head()

       Country   2010   2011   2012   2013   2014   2015   2016
0  Afghanistan   3298   3498   3798   4198   4699   5299   5899
1      Albania    497    497    797    797    797    797    797
2      Algeria   3899   4199   4499   4799   5299   5599   5899
3       Angola  78000  81000  81000  80000  78000  78000  79000
4    Argentina  17800  18600  18800  18600  18400  19100  18500

#### Exporta o conjunto de dados transformado para "massa_bruta_aids.csv".

In [9]:
df_resultado_transformacao.to_csv('../data/massa_bruta_aids.csv', index = False)